apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: demo
  name: demo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: demo
  template:
    metadata:
      labels:
        app: demo
    spec:
      containers:
      - image: docker.io/rcastillod/demo@sha256:sha256:3fab9b15634e1fa77aad5ec94f909ecebd424e33244bf39f2529b273d658eefa
        name: demo
        envFrom:
        - configMapRef:
            name: demo
